img {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.movie {
	cursor: pointer;
   color: #0088cc;
}

.movie:hover {
  text-decoration: underline;
}

.movieContainer {
 	padding: 5px;
	margin: 5px;
}

h1, h2, h3 {
	text-align: center;
}

.title-details {
	display: none;
}

p {
  text-align: center;
}
